name: Release

permissions:
  contents: write

on:
  workflow_dispatch:  # This allows manual triggering
  
jobs:
  build:
    runs-on: ubuntu-latest
    container: ubuntu:20.04
    
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          apt-get update
          DEBIAN_FRONTEND=noninteractive apt-get install -y curl wget build-essential pkg-config tzdata libssl-dev
          dpkg-reconfigure --frontend noninteractive tzdata

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Build binary
        run: cargo build --release --target x86_64-unknown-linux-gnu

      - name: Upload release artifact
        uses: actions/upload-artifact@v4
        with:
          name: mdrs
          path: target/x86_64-unknown-linux-gnu/release/mdrs release/mdrs
