name: Release

permissions:
  contents: write

on:
  workflow_dispatch:  # This allows manual triggering
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Build binary
        run: cargo build --release --target x86_64-unknown-linux-gnu

      - name: Create release artifact
        run: |
          mkdir -p release
          cp target/x86_64-unknown-linux-gnu/release/mdrs release/
          cd release
          tar -czvf mdrs.tar.gz mdrs

      - name: Upload release artifact
        uses: actions/upload-artifact@v4
        with:
          name: mdrs
          path: release/mdrs.tar.gz
